#job_description_ifr {
    height: 400px !important;
}

.select2-container .select2-selection--multiple {
    min-height: 43px !important;
}
.select2-container {
    width: 100%;
}
#job_location .select2-container {
    width: 100% !important;
}